# Python / Django gitignore
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Database
db.sqlite3
db.sqlite3-journal

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.log
temp_clone/
